extends ./layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Nosotros", class="img-fluid")
            .col-md-7
                h1=pagina
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores unde praesentium accusamus recusandae quia et, quasi expedita doloribus consectetur ipsa esse, nobis sunt dignissimos sapiente illo suscipit. 
                p A commodi sequi natus quam vel doloremque minima, adipisci cupiditate numquam deleniti nostrum ratione. 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg",alt="icono seguridad")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt at exercitationem amet voluptatum quidem ab obcaecati quo sint, voluptas deleniti atque numquam, aut minima vel aspernatur eaque, id ullam officia!
                .col-md-4
                    img(src="img/icono_destinos.svg",alt="icono destinos")
                    h2.mb-4 Mejores destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt at exercitationem amet voluptatum quidem ab obcaecati quo sint, voluptas deleniti atque numquam, aut minima vel aspernatur eaque, id ullam officia!
                .col-md-4
                    img(src="img/icono_precios.svg",alt="icono precios")
                    h2.mb-4 Los mejores precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt at exercitationem amet voluptatum quidem ab obcaecati quo sint, voluptas deleniti atque numquam, aut minima vel aspernatur eaque, id ullam officia!